body{
    color: #fff;
}
.c-title{
    margin: 64px auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.c-text{
	margin-bottom: 32px;
}
.c-form {
	max-width: 600px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 50%;
}
.c-form__input {
	width: 50%;
	font-size: 16px;
	border: solid 1px #fff;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: #fff auto 1px;
}
.c-form__required {
	background-color: Red;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.submit-button{
	background-color: green;
}
.totop{
	background-color: blue;
}
.c-form__submit button:hover {
	color: green;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}
