.firstView{
	position: fixed;
}
.firstView-inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.portfolio{
	display: block;
	z-index: 0;
	position: absolute;
	top: 100%;
}
.site-title{
	text-align: center;
	font-size: 10vw;
	font-family: 'Bungee Spice', cursive;
	text-shadow: 3px 3px 3px white;
}
.site-title .name{
	font-size: 0.3em;
	font-family: 'DotGothic16', sans-serif;
	color: #fff;
	text-shadow: 3px 3px 3px rgb(255, 190, 190);
}
.msg{
	text-align: center;
}
.msg p{
	color: #fff;
	margin: 1em auto;
	line-height: 1.4em;
}
.work{
	width: 100%;
	height: 100%;
	padding: 10vw;
	margin: 16px 0;
}

/*作品のスクショ*/
.work-photo{
    width: 100%;
    display: flex;
    padding: 5% 20%;
    margin: 8px auto;
}
/* 「Webポートフォリオ」*/
.mobile-photo{
    width: 20%;
    margin: auto;
}
.pc-photo{
    width: 80%;
	margin: auto;
}
.work-photo img{
    width: 100%;
}
/*作品名*/
.work-title{
    width: 100%;
    margin: 8px auto;
}
.work-title a{
	display: inline-block;
	width: 100%;
	font-size: 32px;
	font-weight: bold;
    text-shadow: 3px 3px 3px #666;
	text-align: center;
}
.work-title a span{
	font-size: 18px;
}

.bg-red{
	background-color: rgba(119,0,0,0.9);
}
.bg-green{
	background-color:rgba(184,217,115,0.9);
}
.bg-purple{
    background-color: rgba( 163, 96, 191,0.9);
}
.bg-brown{
    background-color: rgba( 166, 117, 75,0.9);
}
.bg-pink{
	background-color: rgba(242, 73, 166,0.9);
}
.bg-blue{
	background-color: rgba(178,223,251,0.9);
}
.bg-white{
	background-color: rgba(244,244,244,0.9);
}
.bg-blog{
    background-color: rgba(244,244,244,0.9);
}
.bg-yellow{
	background-color: rgba(255,255,153,0.9);
}
.bg-gray{
	background-color: rgba(51,51,51,0.9);
	color: white;
	text-align: center;
	margin: 32px 0;
}
.bg-gray p:nth-child(1){
	font-size: 32px;
	margin: 8px 0;
}
.bg-gray p:nth-child(2){
	font-size: 18px;
	margin: 8px 0;
}
.button-area{
	margin: 64px auto;
}
.tocontact{
	display: block;
	width: 100%;
	text-align: center;
	background-color: yellow;
	padding: 64px 0;
}

.popup{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 240px;
	height: auto;
	background-color: rgba(255, 251, 0, 0.782);
	z-index: 999;
}
.popup-container{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.popup-text{
	padding: 32px;
}
.popup-button{
	display: block;
	margin: 0 auto 32px;
}

/* 幅1080px以下の画面時 */
@media screen and (max-width: 1080px) {

	/*作品のスクショ*/
	.work-photo{
		width: 100%;
		display: flex;
		padding: 5% 10%;
		margin: 8px auto;
	}

}

/* 幅768px以下の画面時 */
@media screen and (max-width: 768px) {

	.work-title a{
		display: inline-block;
		width: 100%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.site-title{
		text-align: center;
		font-size: 48px;
		font-family: 'Bungee Spice', cursive;
		text-shadow: 3px 3px 3px white;
	}
}
